:root {
  --branco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0;
  --botao-azul: #167BF7;
  --cor-de-fundo: #00030C;
  --fonte-principal: 'Inter', sans-serif;
  --botao-azul-efeito: #3c92fa;
}

html {
  /* a cada 1rem sera considera 10px */
  font-size: 62.5%;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 1.6rem;
  font-weight: 400;
}

.principal {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  /* background-color: red; */
}

strong{
  color: red;
  font-weight: 700;
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 0.5rem;
  padding: 1.6rem;
  color: var(--branco-principal);
  text-decoration: none;
  display: block;

}


.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__aviso {
  font-size: 12px;
  color: var(--cinza-secundario);
}

.principal{
  align-items: center;
  text-align: center;
}

.container__botao{
  margin: 1em;
}

.container__caixa {
  margin: 0 3em;
}

.container__image{
 margin: 2em 0 0 0;
}

.secundario {
  align-items: center;
  margin: 0 6em;
  
}

.secundario__imagem {
  width: 80%;
}

.descricao__titulo {
  font-weight: bold; 
  font-size: 48px;
  color: var(--branco-principal);
  margin: 0.1em;
}

.descricao__texto {
  color: var(--cinza-secundario);
  line-height: 125%;
}

.container__descricao {
  padding: 2em;
}

.botao_terciario {
  display: flex;
  width: 134px;
  height: 24px;
  margin: 1em 0;
  align-items: center;
}

.titulo_terciario{
  color: aquamarine;
}

.descricao_subtitulo {
  color: var(--branco-principal);
 font-size: 32px;
 font-family: var(--fonte-principal);
 font-weight: 700;
 line-height: 38.40px;
}

.container__linha {
  grid-template-columns: 100%;
}