:root {
  --branco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0;
  --botao-azul: #167BF7;
  --cor-de-fundo: #00030C;
  --fonte-principal: 'Inter';
  --botao-azul-efeito: #3c92fa;
}

html {
  /* a cada 1rem sera considera 10px */
  font-size: 62.5%;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 1.6rem;
  font-weight: 400;
}

.principal {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
}

.container {
  height: 100vh;
  /* background-color: red; */
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 0.5rem;
  padding: 1.6rem;
  color: var(--branco-principal);
  text-decoration: none;
}